<!DOCTYPE html>
<html>
<head>
    <title>lek</title>
    <link rel="stylesheet" href="/styles.css">

    <script>
    if (!sessionStorage.getItem('spotify')) {
        console.log('GAME: No Spotify code found.');
        window.location.href = '/spotify';
    } else if (!sessionStorage.getItem('settings')) {
        console.log('GAME: No settings found.');
        window.location.href = '/settings';
    }
    </script>
</head>
<body>
    <img src="/icons/win95/MIDI keyboard (connected).ico">

    <br>

    <span>Hei. Før du fortsetter må du tillate at nettsiden kan styre musikken. Trykk på knappen under for å gjøre dette. Spotify sender da en kode til nettsiden, som slettes når du lukker siden.</span>

    <button onclick="authorize()">Send meg til Spotify og så tilbake!</button>

    <script src="/js/spotify.js"></script>
</body>
</html>
