<!DOCTYPE html>
<html>
<head>
    <title>lek</title>
    <link rel="stylesheet" href="/styles.css">

    <script>
    if (!sessionStorage.getItem('token')) {
        window.location.href = '/spotify';
    } else if (!sessionStorage.getItem('settings')) {
        window.location.href = '/settings';
    }
    </script>
</head>
<body>
    <span id="star"></span>
    <script>
        const star = {
          object: document.getElementById('star'),
          frame: 1,
          frames: 10
        };

        function updateStar() {
            star.object.innerHTML = `<img src="/icons/animations/star/Star (${star.frame} of ${star.frames}).ico">`;
            star.frame = star.frame >= star.frames ? 1 : star.frame + 1;
        }

        updateStar();
        setInterval(updateStar, 200);
    </script>

    <br>

    <span id="explosion" style="height: calc(4 * var(--fontsize));"></span>
    <button id="explode" onclick="playExplosion()">Pang.</button>
    <script>
        let explosion = {
          object: document.getElementById('explosion'),
          frame: 1,
          frames: 3,
          playing: false,
          interval: null
        };

        function playExplosion() {
            if (explosion.playing) return;

            explosion.playing = true;
            explosion.frame = 1;

            explosion.interval = setInterval(() => {
                if (explosion.frame <= explosion.frames) {
                    explosion.object.innerHTML = `<img src="/icons/animations/explosion/Explosion (${explosion.frame} of ${explosion.frames}).ico">`;
                } else {
                    clearInterval(explosion.interval);
                    explosion.playing = false;
                    explosion.object.innerHTML = "";
                }

                explosion.frame++;
            }, 200);
        }
    </script>

    <br>

    <span>Hei.</span>

    <section>
        <span>Bip-bop. Her kommer spillet.</span>
    </section>

    <button onclick="pauseSong()">Pause...</button>

    <footer>
        Hallo! Jeg er dum og har gjort noe feil. Send meg tilbake til <a href="/settings">innstillinger</a> for å fikse det. Eller vil du kanskje helt tilbake til <a href="/spotify">spotify-innlogging</a>? Nåja. For noe styr.
    </footer>

    <script src="/js/spotify.js"></script>
    <script src="/js/authenticate.js"></script>
</body>
</html>
