<!DOCTYPE html>
<html>
<head>
    <title>lek • innstillinger</title>
    <link rel="stylesheet" href="/styles.css">

    <script>
      if ('<%= spotify %>') {
          console.log('SETTINGS: Spotify code found.');
          sessionStorage.setItem('spotify', '<%= spotify %>');
          history.replaceState(null, '', '/settings');
      }

      if (!sessionStorage.getItem('spotify')) {
          console.log('SETTINGS: No Spotify code found.');
          window.location.href = '/spotify';
      }
    </script>
</head>
<body>
    <img src="/icons/Task Manager.ico">

    <br>

    <span>Hei. Det ser ut som du har klart å logge inn på Spotify. Bra jobbet! Før du kan spille må du velge vanskelighetsgrad, spilleliste og deltakere. Vanskelighetsgraden er <select name="difficulty" id="difficulty" onchange="saveSettings()">
        <option value="low">Bruh</option>
        <option value="medium">OK??</option>
        <option value="high">Hard</option>
    </select>, og spillelisten er <select name="playlist" id="playlist" onchange="saveSettings()">
        <option value="6TutgaHFfkThmrrobwA2y9">Den vanlige</option>
        <option value="37i9dQZF1DX6xOPeSOGone">Heismusikk?</option>
        <option value="37i9dQZF1DX9qNs32fujYe">Tungmetall!</option>
        <option value="3b3kSFIjetuBb4OHx8APc4">Sol og sour</option>
        <option value="5B3gb8HbvFm02ccQVH33IO">Disco-disco</option>
        <option value="0UZZ621jxVtzR09zxufSKX">Jente-disco</option>
        <option value="0XH1JLrIyQn2p9XWqNFAcC">Wowawe rock</option>
    </select>. Og i og med at jeg ikke er synsk, så må du dessverre fylle inn navnene på døm som skal være med. Det gjør du én og én, ved å fylle inn <input type="text" id="contestant" placeholder="navnet på deltakeren"> og så <button onclick="addPlayer()">trykke her</button> (eller enter).</span>

    <ul id="contestants"></ul>
    <ul id="rigged" style="display: none;"></ul>

    <span id="ready" style="display: none;">Nok mas! Vi vil <a href="/">starte</a>!</span>

    <script src="/js/contestants.js"></script>
</body>
</html>
