<!DOCTYPE html>
<html>
<head>
    <title>pagame</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <img src="/icons/win95/MIDI keyboard (connected).ico">

    <br>

    <span>Hei. Før du fortsetter må du koble til Spotify. Trykk på knappen under for å gjøre dette.</span>

    <button onclick="authorize()">Send meg til Spotify og så tilbake!</button>

    <script src="/js/spotify.js"></script>
</body>
</html>
