:root {
    --gap: 10px;
    --border: 2px;
    --fontsize: 1.2em;
}

body {
    display: flex;
    gap: var(--gap);
    flex-direction: column;
    align-items: center;

    color: gainsboro;
    font-size: var(--fontsize);

    font-family: monospace;

    background: black;

    padding: var(--gap) calc(10 * var(--gap));

    min-height: 90vh;
}
span,
footer {
    text-align: justify;
}
footer {
    margin-top: auto;
}
section {
    width: 100%;

    text-align: center;

    padding: var(--gap);
    border: var(--border) solid gainsboro;
    border-radius: var(--gap);
}

img {
    width: calc(4 * var(--fontsize));
    height: calc(4 * var(--fontsize));
}
ul img {
    width: calc(2 * var(--fontsize));
    height: calc(2 * var(--fontsize));
}

a,
button {
    color: khaki;

    font-family: inherit;
    font-size: inherit;
    font-style: italic;

    text-decoration: underline;

    padding: 0;
    margin: 0;

    border: none;
    background-color: transparent;
}
a:hover,
button:hover,
select:hover,
input:hover {
    cursor: pointer;
    color: orange;
}
a:active,
button:active,
select:active,
input:active {
    color: darkslategray;
}
select,
input {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 0;
    padding: 0;
    padding-left: 5px;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    font-style: italic;
    color: khaki;
    background: transparent;
}
input {
    width: 12.5em;
    text-decoration: underline;
}

ul {
    display: flex;
    gap: var(--gap);
    flex-direction: column;
}
ul li {
    display: flex;
    gap: var(--gap);
    align-items: center;

    color: khaki;
    font-style: italic;
}
ul li:hover {
    cursor: pointer;
    color: darkslategray;
}
