<!DOCTYPE html>
<html>

<head>
  <title>lek • mellomledd</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <span id="star"></span>
  <script>
    const star = {
      object: document.getElementById('star'),
      frame: 1,
      frames: 10
    };

    function updateStar() {
      star.object.innerHTML = `<img src="/icons/animations/star/Star (${star.frame} of ${star.frames}).ico">`;
      star.frame = star.frame >= star.frames ? 1 : star.frame + 1;
    }

    updateStar();
    setInterval(updateStar, 200);
  </script>

  <br>

  <span>
    <%= message %>
  </span>

  <!-- Hidden element to pass data to script -->
  <div id="auth-data" data-code="<%= code %>" data-id="<%= id %>" data-message="<%= message %>" style="display: none;">
  </div>

  <script type="module" src="/scripts/callback.js"></script>
</body>

</html>