<!doctype html>
<html>

<head>
    <title>lek • spotify</title>
    <link rel="stylesheet" href="/styles.css" />


</head>

<body>
    <span id="keyboard"></span>
    <script>
        const keyboard = {
            object: document.getElementById('keyboard'),
            frame: 1,
            frames: 2
        };

        function updateKeyboard() {
            keyboard.object.innerHTML = `<img src="/icons/animations/keyboard/MIDI keyboard (${keyboard.frame} of ${keyboard.frames}).ico">`;
            keyboard.frame = keyboard.frame >= keyboard.frames ? 1 : keyboard.frame + 1;
        }

        updateKeyboard();
        setInterval(updateKeyboard, 1500);
    </script>

    <br>

    <span>
        Hei. Før du fortsetter må du tillate at nettsiden kan styre musikken. Trykk på knappen under for å gjøre dette.
        Spotify sender da en kode til nettsiden, som slettes når du lukker siden.
    </span>

    <button id="login-button">
        Send meg til Spotify og så tilbake!
    </button>

    <span>
        <i>N.b.</i>: Applikasjonen under utvikling og det er derfor ikke mulig for hvem som helst å kople til Spotify.
        Du må være lagt til i en spesialgruppe for å få tilgang. Ta kontakt med <a href="tel:+4792339982">Hallvard</a>
        for å få tilgang.
    </span>

    <script type="module">
        import { initiateSpotifyAuth } from '/scripts/services/auth-service.js';

        document.getElementById('login-button').addEventListener('click', () => {
            initiateSpotifyAuth('<%= id %>');
        });
    </script>
</body>

</html>